Repository dotmap/knife-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix, prettier-eslint --write --config ./prettierrc

.lintstagedrc:

{
  "**/*.js": [
    "prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc",
    "eslint --fix",
    "git add"
  ],
  "**/*.{mdx,md,yml,yaml,json}": ["prettier-eslint --write --config ./prettierrc", "git add"]
}

refactor(pages): rename about to create
  frontend/pages/create/__snapshots__/about.spec.jsx.snap
  frontend/pages/create/about.spec.jsx
  frontend/pages/create/index.jsx
  frontend/pages/index.jsx
Due: none

refactor(pages): clean out example code
  frontend/pages/create/index.jsx
  frontend/pages/index.jsx
Due: none

chore(deps): add emotion and rebass
  frontend/package.json
  yarn.lock
Due: prettier-eslint --write --config ./prettierrc

chore(deps): add emotion-theming, babel plugin
  babel.config.js
  frontend/package.json
  package.json
  yarn.lock
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix, prettier-eslint --write --config ./prettierrc

chore(babel): fix plugins vs presets
  babel.config.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

feat(navbar): add, update snapshots
  frontend/components/header/__snapshots__/header.spec.jsx.snap
  frontend/components/header/index.jsx
  frontend/components/navbar/__snapshots__/navbar.spec.jsx.snap
  frontend/components/navbar/index.jsx
  frontend/components/navbar/navbar.spec.jsx
Due: none

feat(document): add custom document
  frontend/pages/_document.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

feat(app): add custom app and theme object
  frontend/pages/_app.js
  frontend/theme.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

feat(error): add custom error page
  frontend/pages/_error.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

fix(create): update snapshots, fix import paths
  frontend/pages/create/__snapshots__/about.spec.jsx.snap
  frontend/pages/create/index.jsx
Due: none

refactor(home): remove demo link
  frontend/pages/index.jsx
Due: none

feat(theme): add Inter UI
  frontend/components/navbar/index.jsx
  frontend/pages/_document.js
  frontend/pages/index.jsx
  frontend/theme.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

fix(navbar): remove create event button
  frontend/components/navbar/__snapshots__/navbar.spec.jsx.snap
  frontend/components/navbar/index.jsx
  frontend/pages/create/create.spec.jsx
Due: none

refactor(theme): use Inter UI and Spectral
  frontend/pages/_document.js
  frontend/theme.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

refactor(fonts): use sans fontname instead of inter
  frontend/components/navbar/__snapshots__/navbar.spec.jsx.snap
  frontend/components/navbar/index.jsx
Due: none

feat(create): get that page looking good
  frontend/pages/_app.js
  frontend/pages/create/__snapshots__/about.spec.jsx.snap
  frontend/pages/create/__snapshots__/create.spec.jsx.snap
  frontend/pages/create/index.jsx
  frontend/pages/index.jsx
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

feat(create): add margin to text description
  frontend/pages/create/index.jsx
Due: none

refactor(pages): remove border, touch up styling
  frontend/components/input/index.js
  frontend/pages/_app.js
  frontend/pages/create/__snapshots__/create.spec.jsx.snap
  frontend/pages/create/index.jsx
  frontend/pages/index.jsx
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

chore(git): add DS_Store to gitignore
  .gitignore
Due: none

feat(home): add screenshots
  frontend/pages/index.jsx
  frontend/static/screenshots.png
Due: none

chore(deps): add form packages
  frontend/package.json
  yarn.lock
Due: prettier-eslint --write --config ./prettierrc

refactor(styles): move border to theme
  frontend/components/navbar/index.jsx
  frontend/pages/index.jsx
  frontend/theme.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

chore(eslint): fix match pattern, add babel-eslint, ignore jsx var
  .eslintrc
  package.json
  yarn.lock
Due: prettier-eslint --write --config ./prettierrc

style(app): remove unused var
  frontend/pages/_app.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

refactor(app): correct colors to match brand
  frontend/pages/_app.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

refactor(styles): add colors to theme
  frontend/pages/index.js
  frontend/theme.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

chore(deps): add react-pose
  frontend/package.json
  yarn.lock
Due: prettier-eslint --write --config ./prettierrc

feat(theme): add black
  frontend/theme.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

chore(deps): add polished
  frontend/package.json
  yarn.lock
Due: prettier-eslint --write --config ./prettierrc

feat(creator): add base component
  frontend/components/creator/index.js
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix

feat(create): add creation form component
  frontend/pages/create/index.js
  frontend/pages/create/index.jsx
Due: prettier-eslint --write --config ./.prettierrc --eslint-config-path ./.eslintrc, eslint --fix
